body{
  padding:0px !important;
  background:#fafafa;
}
#top{
  height:20px;
}
#gif-card-container{
  margin:0 auto;
  width:600px;
  background:#eaeaea;
  max-height:700px;
  visibility:hidden;
}
.video-title{
  padding:20px !important;
}
video{

}
.card-action{
  padding:20px !important;
}
.share-controls-inner{
  margin-top:0px !important
}
#next{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  text-align: center;
  background: white;
  position: absolute;
  right: -160px;
  top: 30px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  cursor:pointer;
  color:#888;
  transition: color .3s ease;
}
#next:hover{
  color:#555;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
#text-next{
  text-transform:uppercase;
  font-weight:500;
  font-size:16px;
}

#ad-container{
  padding:25px;
  height: 140px;
}
#sample-ad{
  height:60px;
  width:468px;
  background-color:#888;
  margin:0 auto;
}
.card{
  margin:0 !important;
}
.helper{
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
#next-helper{
  display: inline-block;
  vertical-align: middle;
}