body{
	padding-top: 44px;
	background-color:#fafafa;
}
#container{
	margin-top:30px;
	padding: 0px 10px;
}
.nav-up {
    top: -54px;
}

header{
		height: 44px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
	z-index:1000 !important;
}

#center-header{
		background-color:white;
		margin:0 auto;
		border-color: #bbb;
    box-shadow: 0px 1px 5px #777;
    border-style: solid;
    text-align: center;
    width: 176px;
    border-width: 0px 1px 1px 1px;
    padding: 2px 15px 2px 10px;
}

header a{
	cursor:pointer;
	color:inherit;
}
#logo{
	display: inline-block;
}
#logo img{
	height:37px;
}
#site-name{
	    text-transform: uppercase;
    vertical-align: top;
    height: 40px;
    display: inline-block;
    font-size: 19px;
    line-height: 41px;
}

#video-list{
		margin:0 auto;
		width:600px;
	}
	.video-item {
	  margin-bottom: 65px;
	  display: block;
	}
	.video-title{
	 text-align:center;
}

	.video-title{
		padding:20px 20px 3px 20px;
    -webkit-font-smoothing: antialiased;
    font-family:arial;
    vertical-align:middle;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    line-height: 35px;
    font-weight: 400;
    color: #0277bd;
		text-decoration: none;
	}
	video{
		margin: 0 auto;
    display: flex;
		background-color:#000;
		width:600px;
		max-height:340px;
	}
	.timestamp {
			margin-bottom: 3px !important;
			color: #bbb;
			text-align: left;
		font-size:smaller;
		margin-left:7px !important;
	}
  #loading{
    font-family:arial;
    vertical-align:middle;
    text-align:center;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    height: 66px;
    line-height: 66px;
    font-weight: 400;
    color: #999;
    font-size: 22px;
  }
	.video-item-primary{
		width:600px;
		margin:0 auto !important;
	}
	.share-option {
    display: inline-block;
    margin-right: 5px;
    height: 26px;
    vertical-align: middle;
	}
	.share-controls-inner{
		text-align:left;
		margin-top:10px;
	}
.card-action{
	padding:20px 20px 30px 20px !important;
	border-width: 0px !important;
}
.fb-share-link{
	color:#365899 !important;
	font-weight: 500;
	transition: color .3s ease;
	cursor:pointer;
}
.fb-share-link:hover{
	color:hsl(219, 51%, 64%) !important;
}
.get-link{
	font-weight: 300;
	color:#000 !important;
	cursor: pointer;
	transition: color .3s ease;
}
.get-link:hover{
	color:#999 !important;
}

	.share-option img {
    width: 20px;
	}
  .share-url {
      display: inline-block;
      position: relative;
      vertical-align: middle;
      height: 20px;
  }
	.share-url input {
    margin: 0px;
    height: 20px !important;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 260px !important;
    color: #555;
    font-size: 12px !important;
		cursor:text;
  }
.mobile-share{
	display:none;
}
#load-more-gifs{
	margin-top:20px;
	color:#0277bd;
}
.in-feed-ad{
	padding:1rem 0 1.3rem 0;
}
.gif-page-ad{
	text-align:center;
	margin-top:20px;
}

@media only screen and (max-device-width: 480px) {
	#header{
		margin-bottom:10px;
	}

     .video-title a{
     }
    .video-title{
        height:auto;
    }
	.timestamp{
		padding-left:5px;
	}
	.card-action{
	padding:20px !important;
	}
    #loading{
        font-size:1.5em;
        height:auto;
        padding:1em 0 1em 0;
    }
    .video-item{
      width:100%;
    }
		#video-list{
			margin:0 auto;
			width:100%;
		}
		video{
			width:100%;
			max-height:276px;
		}
   .share-option img {
        width: 3em;
    }
  .centered-get-link{
    padding:0.2em;
    font-size:2em;
  }
	.share-controls-inner{
		display:none;	
	}
	.mobile-share{
		display:block;
		text-align:center;
		padding-right:5px;
	}
}